#idea
.idea/*
#run configuration
!.idea/runConfigurations/
# Folder config file
**/target/
package-lock.json
src/main/resources/static/
node
node_modules
# Operating System Files OSX, Windows
.DS_Store
.AppleDouble
.LSOverride
*.cab
*.msi
*.msm
*.msp
*.zip
*.iml
*.jar
*.log
*.lnk
*.pdf